<mat-toolbar color="primary">
  <span>Fictitious Market Watch</span>
  <span class="spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" aria-label="stock selector">
    Symbol: {{symbol$ | async}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let name of symbols$ | async">
      <button mat-menu-item class="menu-button" (click)="changeSymbol(name)">
        <span>{{name}}</span>
      </button>
    </ng-container>
  </mat-menu>
</mat-toolbar>

<app-symbol-data></app-symbol-data>